weather_demo.json
[{"id":"5b057cc0.356d04","type":"tab","label":"気象データ取得","disabled":false,"info":""},{"id":"16f1e26c.7a7b6e","type":"inject","z":"5b057cc0.356d04","name":"トリガー","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112.44444274902344,"y":76.11111450195312,"wires":[["e26ff4dd.f22f38"]]},{"id":"b4010bf9.3af0f8","type":"debug","z":"5b057cc0.356d04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":617,"y":165,"wires":[]},{"id":"fc995ea6.a9812","type":"mqtt out","z":"5b057cc0.356d04","name":"","topic":"/Noodl","qos":"","retain":"","broker":"","x":601.2222290039062,"y":72.66665649414062,"wires":[]},{"id":"450c720b.02e74c","type":"template","z":"5b057cc0.356d04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.tempc}}℃,{{payload.humidity}}%","output":"str","x":453.4444885253906,"y":73.4444580078125,"wires":[["fc995ea6.a9812","b4010bf9.3af0f8"]]},{"id":"e26ff4dd.f22f38","type":"openweathermap","z":"5b057cc0.356d04","name":"","wtype":"current","lon":"","lat":"","city":"Tokyo","country":"JP","language":"ja","x":282.8888244628906,"y":76.22222900390625,"wires":[["450c720b.02e74c"]]}]